<dom-module id='daily-view'>
  <template>
    <style include='ink-variables ink-reset ink-flex-grid ink-colors ink-typography ink-layout-helpers'></style>
    <style>
      :host {
        @apply(--mix-fixed-view);
        background: black;
      }

      ink-hero1 {
        color: white;
      }
    </style>

    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');

  require('@andreasgalster/inkling/dist/inkling.html');

  Polymer({
    is: 'daily-view',
  });
</script>
