<dom-module id='list-view'>
  <template>
    <style include='ink-variables ink-reset ink-flex-grid ink-colors ink-typography ink-layout-helpers ink-sticky'></style>
    <style>
      :host {
        @apply(--mix-relative-view);
        top: calc(100vh - 60px);
        background: blue;
      }

      div {
        background: green;
        height: 60px;
        width: 100%;
        @apply(--mix-pos-sticky);        
      }
    </style>

    <div>

    </div>


    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>
    <ink-hero1>the quick brown fox jumps over the lazy dog</ink-hero1>



  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');

  require('@andreasgalster/inkling/dist/inkling.html');

  Polymer({
    is: 'list-view',
  });
</script>
